@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Librestile';
  src: url('./assets/fonts/LibrestileExtBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}