.content1 {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  background-color:white;
}

.animation-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slide-text {
  display: inline-block;
  white-space: nowrap;
  animation: slide 20s linear infinite;
  z-index: 0; /* Ensure text is behind the image */
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.animated-text {
  font-family: 'Librestile', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin: 0 50px;
  text-shadow: 2px 2px 0 rgba(158, 191, 38, 1), 
             -2px -2px 0 rgba(158, 191, 38, 1), 
             -2px 2px 0 rgba(158, 191, 38, 1), 
             2px -2px 0 rgba(158, 191, 38, 1);
}

.helloworld-text {
  font-family: 'Librestile', sans-serif;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin: 0 50px;
  text-shadow: 2px 2px 0 rgba(161, 161, 161, 1),
    -2px -2px 0 rgba(161, 161, 161, 1),
    -2px 2px 0 rgba(161, 161, 161, 1),
    2px -2px 0 rgba(161, 161, 161, 1);
  z-index: 3; /* Ensure the text is behind the video */
}

.desktop-bg {
  background-image: url("../images/Desktop_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.desktop-bg-mobile {
  background-image: url("../images//Mobile_Static_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
}