.content1 {
  position: relative;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  overflow: hidden;
}

.animation-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  margin-top: 34vh;
}

.slide-text {
  display: inline-block;
  white-space: nowrap;
  animation: slide 20s linear infinite;
  z-index: 2; /* Ensure text is behind the image */
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animated-text {
  font-family: 'Librestile', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin: 0 50px;
  text-shadow: 2px 2px 0 rgba(158, 191, 38, 1), 
             -2px -2px 0 rgba(158, 191, 38, 1), 
             -2px 2px 0 rgba(158, 191, 38, 1), 
             2px -2px 0 rgba(158, 191, 38, 1);
}

.text-content {
  background-color: #D9E0EC33;
  position: relative;
  width: 100%;
  /* z-index: 3; */
  margin-top: 16vh;
}

.helloworld-text {
  font-family: 'Librestile', sans-serif;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  text-shadow: 2px 2px 0 rgba(161, 161, 161, 1),
    -2px -2px 0 rgba(161, 161, 161, 1),
    -2px 2px 0 rgba(161, 161, 161, 1),
    2px -2px 0 rgba(161, 161, 161, 1);
  margin: 20px 0;
}

.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.desktop-bg {
  background-image: url("../images/Desktop_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-bg {
  background-image: url("../images/Mobile_Static_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 640px) {
  .animation-container {
    width: 90%;
    height: 40vh; /* Adjusted height for smaller screens */
    max-height: 60vh; /* Limit maximum height on smaller screens */
    margin-top: 10vh; /* Adjusted margin top */
  }

  .text-content {
    background-color: #ffffff00;
  }
}